<header>
 <nav class="navegacion">
   <div class="titulo">UNHotel</div> 
   <ul class="menu">
     <li><%= link_to "Inicio", root_path %></li>
     <li><a href="#">Huespedes</a>
      
       <ul class="submenu">
         <li><%= link_to "Crear huesped", new_huesped_path %></li>
         <li><%= link_to "Consultar Huespedes", huespeds_index_path %></li>
       </ul>
       
     </li>
     <li><a href="#">Empleados</a>
      
       <ul class="submenu">
         <li><%= link_to "Crear Empleado", new_empleado_path %></li>
         <li><%= link_to "Consultar empleados", empleados_index_path %></li>
         
       </ul>
       
     </li>
     
     <li><a href="#">Pedir servicios</a>
     
     
       <ul class="submenu">
         <li><a href="#">Crear</a></li>
         <li><%= link_to "Ver peticiones", solicituds_index_path %></li>
       </ul>
       
     </li>
     <li><a href="#">Servicios</a>
     
     
       <ul class="submenu">
         <li><a href="#">Crear</a></li>
         <li><%= link_to "Ver servicios", servicios_index_path %></li>
       </ul>
       
     </li>
     
        
   </ul>
   
 </nav>
</header>