<header>
 <nav class="navegacion">
   <div class="titulo"><%= link_to "UNHOTEL", current_user %></div> 
   <% if logged_in? %>
        <% if current_user.role == 'Admin' %>
            <%= render "layouts/navbarAdmin" %>
        <% else %><% end %>
        <% if current_user.role == 'Huesped' %>
            <%= render "layouts/navbarHuesped" %>
        <% else %><% end %>
        <% if current_user.role == 'Empleado' %>
            <%= render "layouts/navbarEmpelado" %>
        <% else %>
        <% end %>
    <% else %>
        <%= render "layouts/navbarNoUser" %>
   <% end %>
 
 </nav>
</header>